@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@theme {
  --font-display: "Poppins", 'sans-serif';
  --breakpoint-3xl: 120rem;
  --color-primary: '#E58411';
  --color-secondary:oklch(0.1728 0.0002 247.41);
  --color-secondary-bg: '#F7F7F7';
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  
  /* ... */
}


body{
    font-family: "Poppins", sans-serif;
}

